<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 5.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-5.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.url">jdbc:mysql://db:3306/cinema_db?useSSL=false&amp;allowPublicKeyRetrieval=true&amp;serverTimezone=Europe/Moscow</property>
        <property name="hibernate.connection.username">cinema_user</property>
        <property name="hibernate.connection.password">cinema_password</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.jdbc.time_zone">Europe/Moscow</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <property name="hibernate.connection.pool_size">10</property>

        <mapping class="org.cinema.model.User"/>
        <mapping class="org.cinema.model.Ticket"/>
        <mapping class="org.cinema.model.FilmSession"/>
        <mapping class="org.cinema.model.Movie"/>
    </session-factory>
</hibernate-configuration>